In [1]:
from datetime import datetime, timedelta  
import time  
from collections import namedtuple  
import pandas as pd  
import requests  
import matplotlib.pyplot as plt

In [2]:
API_KEY = '2119bcd6db1d8d7f'  
BASE_URL = "http://api.wunderground.com/api/{}/history_{}/q/NE/Lincoln.json"

In [3]:
target_date = datetime(2016, 5, 16)  
features = ["date", "meantempm", "meandewptm", "meanpressurem", "maxhumidity", "minhumidity", "maxtempm",  
            "mintempm", "maxdewptm", "mindewptm", "maxpressurem", "minpressurem", "precipm"]
DailySummary = namedtuple("DailySummary", features)

In [4]:
def extract_weather_data(url, api_key, target_date, days):  
    records = []
    for _ in range(days):
        request = BASE_URL.format(API_KEY, target_date.strftime('%Y%m%d'))
        response = requests.get(request)
        if response.status_code == 200:
            data = response.json()['history']['dailysummary'][0]
            records.append(DailySummary(
                date=target_date,
                meantempm=data['meantempm'],
                meandewptm=data['meandewptm'],
                meanpressurem=data['meanpressurem'],
                maxhumidity=data['maxhumidity'],
                minhumidity=data['minhumidity'],
                maxtempm=data['maxtempm'],
                mintempm=data['mintempm'],
                maxdewptm=data['maxdewptm'],
                mindewptm=data['mindewptm'],
                maxpressurem=data['maxpressurem'],
                minpressurem=data['minpressurem'],
                precipm=data['precipm']))
        time.sleep(6)
        target_date += timedelta(days=1)
    return records

In [7]:
records = extract_weather_data(BASE_URL, API_KEY, target_date, 500)

In [8]:
df = pd.DataFrame(records, columns=features).set_index('date')

In [9]:
df.head()

,meantempm,meandewptm,meanpressurem,maxhumidity,minhumidity,maxtempm,mintempm,maxdewptm,mindewptm,maxpressurem,minpressurem,precipm
date,,,,,,,,,,,,
2016-05-16,11,8,1020,93,71,12,9,10,6,1022,1019,7.11
2016-05-17,14,8,1023,100,42,21,7,10,6,1025,1021,0.00
2016-05-18,14,6,1023,92,27,23,4,11,3,1025,1020,0.00
2016-05-19,16,8,1019,89,39,21,9,10,6,1021,1015,0.00
2016-05-20,15,11,1018,86,63,18,12,12,8,1019,1016,T

In [1]:
df.tail()

NameError: name 'df' is not defined

In [ ]:
records += extract_weather_data(BASE_URL, API_KEY, target_date, 500)