In [1]:
import sys
sys.version

'3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]'

In [2]:
import tensorflow as tf

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
import matplotlib
import matplotlib.pyplot as plt
import random
%matplotlib inline

In [5]:
import shutil

In [6]:
import tensorflow.contrib.learn as tflearn
import tensorflow.contrib.layers as tflayers
from tensorflow.contrib.learn.python.learn import learn_runner
import tensorflow.contrib.metrics as metrics
import tensorflow.contrib.rnn as rnn

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\tensorflow\contrib\learn\python\learn\datasets\base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar alternatives.

In [7]:
tf.__version__

'1.7.0'

In [8]:
import numpy
import matplotlib.pyplot as plt
import pandas as pd
import math
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [9]:
# Loading the dataset
co2_df = pd.read_csv('C:/Users/sande/Major Project/Dataset/co2.csv',parse_dates=['Year'])
co2_df = co2_df.set_index('Year')
co2_df = co2_df['1950-01-01':]
co2_df['Year'] = co2_df.index
co2_df.head()

,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita,Year
Year,,,,,,,,
1950-01-01,1630,97,423,1070,18,23,0.64,1950-01-01
1951-01-01,1767,115,479,1129,20,24,0.69,1951-01-01
1952-01-01,1795,124,504,1119,22,26,0.68,1952-01-01
1953-01-01,1841,131,533,1125,24,27,0.69,1953-01-01
1954-01-01,1865,138,557,1116,27,27,0.69,1954-01-01

In [10]:
training_co2_data = co2_df[co2_df.Year < pd.to_datetime("08/01/2008")]

In [11]:
training_co2_data.head()

,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita,Year
Year,,,,,,,,
1950-01-01,1630,97,423,1070,18,23,0.64,1950-01-01
1951-01-01,1767,115,479,1129,20,24,0.69,1951-01-01
1952-01-01,1795,124,504,1119,22,26,0.68,1952-01-01
1953-01-01,1841,131,533,1125,24,27,0.69,1953-01-01
1954-01-01,1865,138,557,1116,27,27,0.69,1954-01-01

In [12]:
import numpy
import matplotlib.pyplot as plt
import pandas
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

In [13]:

# fix random seed for reproducibility
numpy.random.seed(7)

In [14]:

# normalize the dataset
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(co2_df)

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [17]:
co2_df = pd.read_csv('C:/Users/sande/Major Project/Dataset/co2.csv',usecols=[1])

In [18]:
co2_df.head()

   Total
0      3
1      3
2      3
3      3
4      3